doctype html
html
  head
    title 問題列表
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='author', content='Sakamoto')
    meta(property='og:title', content='選課中興')
    meta(property='og:url', content='https://problemlist.hsingpicking.com.tw/')
    meta(property='og:description', content='')
    meta(property='og:type', content='website')
    meta(property='og:image', content='https://problemlist.hsingpicking.com.tw/img/fb-lg.png')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='shortcut icon', type='image/x-icon', href='/img/icon.ico')
    block css

  body

    block content

    script(src='/js/libs/jquery.min.js')
    script(src='/js/libs/vue.min.js')
    block js
